@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.hero{
  height: 100vh;
  position: relative;
  background-image: url("./asset/imgbanner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 60px;
  color: white;

  position:absolute;
  top:0;
  left:0;
  width:100%;

  z-index:100;
}

.navlitems{
  display:flex;
  gap:30px;

  list-style:none;
}
.logo{
    font-family: "Rubik Glitch", system-ui;
}
.social{
  display:flex;
  gap:10px;
}
.hero::after{
  content: "";
  position: absolute;
  top: 90%;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 250px;
  background: #4b3f32;
  border-radius: 50% 50% 0 0;
}
.banner{
    color: white;
    font-weight: bold;
}
.bg{
    padding: 60px 0 auto;
    background: linear-gradient(
  360deg,
  #e7c96b 0%,
  #d8b14d 70%,
  #000000 100%
);
}
.para{
    font-size: 24px;
    font-weight: bold;
}
.heading{
    font-family: "Rubik Glitch", system-ui;
    font-weight: 400;
    font-size: 100px;
}
.banner{
    position: absolute;
    top: 43%;
    left: 32%;
}
.bannerimg{
    position: absolute;
    top: 30%;
    left: 38%;
}
.imgbaner{
    width: 600px;
    height: 600px;
}
.btn{
    position: absolute;
    left: 50%;
    top:62%;
    transition: 0.5s ease-in-out;
}
 .btn:hover{
    transform: translateY(5px);
 }
.button{
    padding: 8px 15px;
    background-color: rgb(228, 142, 30);
    color: white;
    font-weight: bold;
    font-size: 24px;
    border: none;
    border-radius: 15px;
}
.containerfooter{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 95%;
    left: 10%;
    margin: 0 auto;
    width: 1600px;
    z-index: 10;
    
}
.textfooter{
    display: flex;
    gap: 8px;
}
.heading1{
    text-align: center;
}